@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  --neon-text: rgb(255, 68, 0);
  --neon-border: rgb(0, 136, 255);
  --border: rgba(31, 31, 31, 0.8);
  --background: rgb(9, 8, 8);
  --player1: rgb(128, 0, 128);
  --player2: rgb(255, 165, 0);
}

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 20px;
  background-color: var(--background);
}

.sidewindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  height: 220px;
  max-width: 25vw;
  overflow-y: auto;
}

.pieces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.piecewrapper {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  z-index: 10;
}

.piecewrapper-used .piece {
  background-color: var(--background);
  border-color: var(--background);
  box-shadow: none;
}

.piececontainer {
  position: relative;
  z-index: 0;
}

.piece {
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 0;
  border: 1px solid var(--border);
  border-radius: 2px;
  
}

.piece-0 {
  background-color: rgba(128, 0, 128, 0.5);
  border-color: white;
  box-shadow: 0 0 .05rem #fff,
  inset 0 0 .05rem #fff,
  0 0 0.2rem var(--player1),
  inset 0 0 0.2rem var(--player1),
  0 0 0.4rem var(--player1),
  inset 0 0 0.4rem var(--player1);
}

.piece-1 {
  background-color: rgba(255, 166, 0, 0.5);
  border-color: white;

  box-shadow: 0 0 .05rem #c7c17c,
  inset 0 0 .05rem #edebdd,
  0 0 0.2rem var(--player2),
  inset 0 0 0.2rem var(--player2),
  0 0 0.4rem var(--player2),
  inset 0 0 0.4rem var(--player2);
}

.manipulation-box {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--neon-border),
            inset 0 0 0.5rem var(--neon-border),
            0 0 1rem var(--neon-border),
            inset 0 0 1rem var(--neon-border);
}

.manipulation-button-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  width: 200px;
  background-color: var(--background);
}

.manipulation-button {
  flex-grow: 1;
  background-color: var(--background);
  border-color: var(--border);
  border-radius: 5px;
  border: none;
  color: var(--neon-border);
}

.manipulation-button:hover {
  color: rgb(127, 188, 242);
}

.scorebox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 50px;
}

.scorebox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}

.neon-container {
  border-radius: 0.5rem;
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--neon-border),
            inset 0 0 0.5rem var(--neon-border),
            0 0 1rem var(--neon-border),
            inset 0 0 1rem var(--neon-border);
}

.neon-container-0 {
  border-radius: 0.5rem;
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--player1),
            inset 0 0 0.5rem var(--player1),
            0 0 1rem var(--player1),
            inset 0 0 1rem var(--player1);
}

.neon-container-1 {
  border-radius: 0.5rem;
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--player2),
            inset 0 0 0.5rem var(--player2),
            0 0 1rem var(--player2),
            inset 0 0 1rem var(--player2);
}

.scorebox h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text),
    0 0 4rem var(--neon-text),
    0 0 6rem var(--neon-text),
    0 0 8rem var(--neon-text),
    0 0 10rem var(--neon-text);
}

.button-retire {
  position: absolute;
  top: -30px;
  left: 78%;
  transform: rotate(0.07turn);
  height: 50px;
  width: 80px;
  border-radius: 10px;
  background-color: var(--background);
  font-weight: bold;
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--neon-text),
            inset 0 0 0.5rem var(--neon-text),
            0 0 1rem var(--neon-text),
            inset 0 0 1rem var(--neon-text);
  color: #fff;
  text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text),
    0 0 4rem var(--neon-text),
    0 0 6rem var(--neon-text),
    0 0 8rem var(--neon-text),
    0 0 10rem var(--neon-text);
}

.button-retire:hover {
  background-color: rgba(255, 68, 0, 0.6);
}

.board {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 35vw;
  height: 35vw;
}

.row {
  display: flex;
  flex-direction: row;
  height: 7.14%
}

.tile {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid rgba(31, 31, 31, 0.8);
  border-radius: 4px;
  text-align: center;
  width: 7.14%;
}

.tile-0 {
  background-color: rgba(128, 0, 128, 0.65);
  border: 1px solid white;
  box-shadow: 0 0 .5rem #cb78d8,
  inset 0 0 .5rem #e1c2e5,
  0 0 2rem rgba(128, 0, 128, 0.65),
  inset 0 0 0.2rem rgba(128, 0, 128, 0.65),
  0 0 4rem rgba(128, 0, 128, 0.65),
  inset 0 0 0.4rem rgba(128, 0, 128, 0.65);

}

.tile-1 {
  background-color: rgba(255, 166, 0, 0.65);
  border: 1px solid white;
  box-shadow: 0 0 .5rem #c7c17c,
  inset 0 0 .5rem #edebdd,
  0 0 2rem rgba(255, 166, 0, 0.65),
  inset 0 0 0.2rem rgba(255, 166, 0, 0.65),
  0 0 4rem rgba(255, 166, 0, 0.65),
  inset 0 0 0.4rem rgba(255, 166, 0, 0.65);
}

.shaded-valid {
  background-color: hsla(94, 59%, 41%, 0.35);
  border: 1px solid white;
  box-shadow: 0 0 .5rem #c7c17c,
  inset 0 0 .5rem #edebdd,
  0 0 2rem hsla(94, 59%, 41%, 0.35),
  inset 0 0 0.2rem hsla(94, 59%, 41%, 0.35),
  0 0 4rem hsla(94, 59%, 41%, 0.35),
  inset 0 0 0.4rem hsla(94, 59%, 41%, 0.35);
}

.shaded-invalid {
  background-color: hsla(0, 59%, 41%, 0.35);
  border: 1px solid white;
  box-shadow: 0 0 .5rem #c7c17c,
  inset 0 0 .5rem #edebdd,
  0 0 2rem hsla(0, 59%, 41%, 0.35),
  inset 0 0 0.2rem hsla(0, 59%, 41%, 0.35),
  0 0 4rem hsla(0, 59%, 41%, 0.35),
  inset 0 0 0.4rem hsla(0, 59%, 41%, 0.35);
  
}

.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal-window {
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
  min-height: 200px;
  width: 400px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  align-self: center;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  color: #fff;
  padding: 5%;
}

.winner-0 h2 {
  text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--player1),
    0 0 4rem var(--player1),
    0 0 6rem var(--player1),
    0 0 8rem var(--player1),
    0 0 10rem var(--player1);
}

.winner-1 h2 {
  text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--player2),
    0 0 4rem var(--player2),
    0 0 6rem var(--player2),
    0 0 8rem var(--player2),
    0 0 10rem var(--player2);
}

.winner-2 h2{
  text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 0.5rem var(--neon-text),
    0 0 1rem var(--neon-text),
    0 0 1.5rem var(--neon-text),
    0 0 2rem var(--neon-text),
    0 0 2.5rem var(--neon-text);
}

.rematch-button {
  width: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  border-color: #fff;
  height: 60px;
  margin: 20px 2px 20px 2px;
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--neon-text),
            inset 0 0 0.5rem var(--neon-text),
            0 0 1rem var(--neon-text),
            inset 0 0 1rem var(--neon-text);
  color: #fff;
  text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text),
    0 0 4rem var(--neon-text),
    0 0 6rem var(--neon-text),
    0 0 8rem var(--neon-text),
    0 0 10rem var(--neon-text);
}

.rematch-button:hover {
  background-color: rgba(255, 68, 0, 0.6);
}

.winner-0 .rematch-button {
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--player1),
            inset 0 0 0.5rem var(--player1),
            0 0 1rem var(--player1),
            inset 0 0 1rem var(--player1);
  color: #fff;
  text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--player1),
    0 0 4rem var(--player1),
    0 0 6rem var(--player1),
    0 0 8rem var(--player1),
    0 0 10rem var(--player1);
}

.winner-0 .rematch-button:hover {
  background-color: rgba(128, 0, 128, 0.65);
}

.winner-1 .rematch-button {
  box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.5rem var(--player2),
            inset 0 0 0.5rem var(--player2),
            0 0 1rem var(--player2),
            inset 0 0 1rem var(--player2);
  color: #fff;
  text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--player2),
    0 0 4rem var(--player2),
    0 0 6rem var(--player2),
    0 0 8rem var(--player2),
    0 0 10rem var(--player2);
}

.winner-1 .rematch-button:hover {
  background-color: rgba(255, 166, 0, 0.65);
}